body {
	background-color: #ACADBC;
}

main {
	font-family:  Calibri;
}
#ct_grid {
	min-width: 1450px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 70px auto-flow 100px repeat(3,200px);	
	grid-gap: 7px;
	gap: 7px;
	padding: 5px;
	grid-template-areas:
		'head1 head1 head1 head1'
		'figure head2 head2 navig'
		'div sec1 sec1 navig'
		'div sec1 sec1 navig'
		'. sec2 sec2 .'
		'. sec3 sec3 .'
		'. sec4 sec4 .'
		'. sec5 sec5 .'
		'ftr ftr ftr ftr'
}


#header1 {
	grid-area: head1;
	text-align: center;
	background-color : #5B598E;
	font-size: 25px;
	color: #FFFFFF;
}

#header2 {
	grid-area: head2;
	text-align: justify;
	background-color : #9B9ECE;
	font-size: 20px;
	padding: 20px;
}

#dv{
	grid-area: div;
	background-color : #9B9ECE;
	text-align: justify;
	align-self: felx-start;
	padding : 10px;
	font-size: 18px;
}

#figure1 {
	grid-area: figure;
}

#navig {
	grid-area: navig;
	background-color : #9B9ECE;
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
	
}

#s1 {
	grid-area: sec1;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#s2 {
	grid-area: sec2;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#s3 {
	grid-area: sec3;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

#s4 {
	grid-area: sec4;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

#s5 {
	grid-area: sec5;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	font-size: 20px;
}

#foot {
	grid-area: ftr;
	background-color : #9B9ECE;
	text-align: center;
}

#titrePP {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
}

#textepres {
	text-align: center;
	text-decoration: underline;
	font-size: 30px;
}

#nav0 {
	text-align: center;
	color : red;
	font-size: 30px;
	text-decoration: none;
}

#navig div {
	text-align: center;
	text-decoration: underline;
	color : darkblue;
	font-size: 20px;
	
}

h3 {
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
	margin: 0px;
	padding-bottom: 10px;
}

.image-ronde {
	width : 300px;
	height : 300px;
  	border-radius: 50%; 
  	object-fit: cover;
	padding-left: 30px;
}

.conteneur {
	padding : 20px;
	display: flex;
	flex-direction: row;
	background-color: #EEEEFF;
	border: 2px #333849 solid;
	display: flex;
	align-items: stretch;
	min-height: 300px;
	justify-content: flex-start;
	padding-bottom: 15px;
	max-width: auto;
	max-height: auto;
	padding-right: 8px;
}

.flex-item {
    border: 2px #333849 solid;
    flex: 1 1 250px;
    max-width: 100%;
    padding: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #c7cbd8;
    overflow-x: auto;
    box-sizing: border-box;
}


#c {
  font-size: 17px;
}


html {
	scroll-behaviouor: smooth;
}

h6 {
  color: navy;
}

#parag1 {
  text-align: justify;
}




#grid_p2 {
	min-width: 1450px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 70px auto-flow 100px repeat(4,200px);	
	grid-gap: 7px;
	gap: 7px;
	padding: 5px;
	grid-template-areas:
		'p2h1 p2h1 p2h1 p2h1'
		'image1 section1 section1 nav'
		'image2 section2 section2 .'
		'foot foot foot foot'

}

#p2header1 {
	grid-area: p2h1;
	background-color : #5B598E;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
}

#p2sec1 {
	grid-area: section1;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#p2sec2 {
	grid-area: section2;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#p2nav {
	grid-area: nav;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#p2fig1 {
	grid-area: image1;
	margin-left: 30px;
}

#p2fig2 {
	grid-area: image2;
	margin-left: 30px;
}

#foot2 {
	grid-area: foot;
	background-color : #9B9ECE;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
}

#p2sec1 div {
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#p2sec2 div {
	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

h4 {
	font-size: 20px;
	color : darkblue;
}





#grid_p3 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;	
	height: 100%;
	gap: 10px;
	grid-template-areas:
		'p3h1 p3h1'
		'sc1 sc2'
		'figu1 figu2'
		'footr footr'
}


#head_p3 {
	grid-area: p3h1;
	background-color : #5B598E;
	padding: 20px;
	text-align: center;
	font-size: 20px;
	text-decoration: underline;
	color: #FFFFFF;
}

#section_3_1 {
	grid-area: sc1;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	font-size: 26px;
}

#section_3_2 {
	grid-area: sc2;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	font-size: 26px;
}

#figure_3_1 {
	grid-area: figu1;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	text-decoration: underline;
}

#figure_3_2 {
	grid-area: figu2;
	background-color : #9B9ECE;
	padding: 20px;
	text-align: center;
	text-decoration: underline;
}

#foot3 {
	grid-area: footr;
	background-color : #9B9ECE;
	text-align: center;
	font-size: 20px;
}


#textebsc1 {
	text-align: center;
	font-size: 26px;
}

#textebsc2 {
	text-align: center;
	font-size: 26px;
}
